.certifications-container {
  display: flex;
  height: 100%;
  width: fit-content;
  gap: 2rem;
  flex-direction: column;
  h1 {
    display: flex;
  }
  .certifications-list {
    border-radius: var(--border-radius);
    height: fit-content;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: auto auto;
    .certification-item {
      display: flex;
      height: 100%;
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: var(--primary-gradient);
      border-radius: var(--border-radius);
      outline: 2px solid transparent;
      transition: all 0.2s ease-in-out;
      .certification-image {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 12rem;
        width: 12rem;
        img {
          height: 80%;
          width: auto;
        }
      }
    }
    .certification-item:hover {
      cursor: pointer;
      outline: 2px solid var(--hover-color);
    }
  }
}
