.main-page-content {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
  overflow-x: hidden;
}
.main-page-logo {
  display: flex;
  height: 50%;
  width: 25rem;
}
