.main-container {
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  overflow: auto;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  section {
    overflow-y: auto;
    flex: 1;
    min-height: 100vh;
    width: 100%;
    display: flex;
    scroll-snap-align: start;
  }
}
