.main-container {
  display: flex;
  height: 100vh;
  width: calc(100% - var(--navigation-width));
  margin-left: var(--navigation-width);
  flex-direction: column;
  overflow: auto;
  scroll-snap-type: y mandatory;
  section {
    min-height: 100vh;
    scroll-snap-align: start;
  }
}
