.resume-card {
  display: flex;
  height: 20rem;
  width: 20rem;
  flex-direction: column;
}
.top-card {
  display: flex;
  height: 7rem;
  width: 100%;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-top-left-radius: var(--borderRadius);
  border-top-right-radius: var(--borderRadius);
}
.logo-container {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  border-radius: var(--borderRadius);
}
.STNLogo {
  -webkit-filter: invert(100%);
  filter: invert(100%);
  padding: 1rem;
}
.JPMCLogo {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}
.item {
  height: 100%;
  width: 100%;
}
.inner-slider {
  display: flex;
  width: 100%;
  column-gap: 1.5rem;
}
.slider {
  display: flex;
  width: 100vw;
  padding: 0 1.5rem 0 1.5rem;
  cursor: grab;
  overflow: hidden;
}
