.overview-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  gap: 1rem;
  padding: 3rem;
  justify-content: center;
  align-items: center;
  h1 {
    width: 100%;
  }
}
.overview-grid {
  display: grid;
  gap: 3rem;
  height: 80%;
  width: 100%;
  max-width: 90rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "aboutMe aboutMe portfolio portfolio portfolio portfolio" "aboutMe aboutMe certs certs photo photo";
  .portfolio-container {
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: var(--border-radius);
    grid-area: portfolio;
    background-color: var(--secondary);
  }
  .photo-container {
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: var(--border-radius);
    grid-area: photo;
    background-color: var(--secondary);
  }
}
