.portfolio-card {
  display: flex;
  height: 20rem;
  width: 15rem;
  margin-bottom: 7px;
  margin-top: 7px;
  flex-direction: column;
}
.portfolio-image-container {
  display: flex;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: var(--borderRadius);
}
.portfolio-image {
  display: flex;
  position: absolute;
}
.finfetch-icon {
  top: -4.5rem;
  right: 4.5rem;
  width: 100%;
  height: auto;
  transform: scale(0.25);
  box-shadow: var(--shadow);
  border-radius: 50%;
}
.insurance-icon {
  top: -4.5rem;
  right: 4.5rem;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  transform: scale(0.25);
  box-shadow: var(--shadow);
  border-radius: 50%;
}
.finfetch {
  top: 120px;
  left: 10px;
  transform: scale(3);
  width: 100%;
  height: auto;
}
.insurance {
  top: 110px;
  left: 20px;
  transform: scale(2.5);
  width: 100%;
  height: auto;
}
.portfolio-logo {
  display: flex;
  position: absolute;
  z-index: 6000;
}
.item {
  height: 100%;
  width: 100%;
}
.inner-slider {
  display: flex;
  width: 100%;
  column-gap: 1.5rem;
}
.slider {
  display: flex;
  width: 100vw;
  padding: 0 1.5rem 0 1.5rem;
  overflow: hidden;
}
