.portfolio-card {
  display: flex;
  height: 20rem;
  width: 15rem;
  margin-bottom: 7px;
  margin-top: 7px;
  flex-direction: column;
  border-radius: var(--borderRadius);
  background-color: var(--primary);
  box-shadow: var(--shadow);
}
.portfolio-image-container {
  display: flex;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: var(--borderRadius);
}
.portfolio-image {
  display: flex;
  position: absolute;
}
.finfetch {
  top: 120px;
  left: 10px;
  transform: scale(3);
  width: 100%;
  height: auto;
}
.insurance {
  top: 100px;
  right: 10px;
  transform: scale(3);
  width: 100%;
  height: auto;
}
.portfolio-logo {
  display: flex;
  position: absolute;
  top: -4.5rem;
  right: 4.5rem;
  width: 100%;
  height: auto;
  transform: scale(0.25);
  z-index: 6000;
}
.item {
  height: 100%;
  width: 100%;
}
.inner-slider {
  display: flex;
  width: 100%;
  column-gap: 1.5rem;
}
.slider {
  display: flex;
  width: 100vw;
  padding: 0 1.5rem 0 1.5rem;
  overflow: hidden;
}
