.resume-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 3rem;
  justify-content: center;
  align-items: center;
  h1 {
    width: 100%;
  }
  .resume-content {
    display: flex;
    height: 80%;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}
