.navigation-links {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  align-items: center;
  gap: 1rem;
  font-size: var(--icon-size);
  padding-bottom: 2rem;
  .link-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
  }
}
