.navigation-container {
  display: flex;
  height: 100%;
  width: fit-content;
  padding: 2rem 1rem;

  ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    li {
      writing-mode: vertical-lr;
      text-orientation: mixed;
      cursor: pointer;
      transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
      padding: 0.5rem 0.2rem;
      border: 2px solid transparent;
      border-radius: var(--border-radius);
      transition: all 0.2s ease-in-out;
    }
    li:hover {
      border: 2px solid var(--white);
    }
  }
}
