.timeline-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 80%;
  position: relative;
  .timeline-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3rem;
    padding: 0.3rem;
    img {
      height: 100%;
      width: auto;
    }
  }
  .content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius);
    background: var(--secondary);
    height: 8rem;
    position: relative;
  }
}
