.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 15rem;
  width: 100svw;
  padding: 1rem 1rem 1.5rem 1rem;
}

.profile-image {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 10rem;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  z-index: 1000;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header {
  display: flex;
  position: relative;
}
.header-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
}
.header-links {
  display: flex;
  height: 3rem;
  width: 100%;
  column-gap: 2.5rem;
  justify-content: center;
  align-items: center;
  font-size: var(--iconSize);
  opacity: 0.7;
}
.header-text {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 1rem;
  line-height: 0%;
  opacity: 0.8;
}
.headshot {
  height: 9.5rem;
  width: 9.5rem;
  border-radius: 50%;
}
