.bottomNav-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 6000;
  width: fit-content;
  top: 50%;
  transform: translate(0%, -50%);
  height: fit-content;
  justify-content: center;
  align-items: center;
  border-top-right-radius: var(--borderRadius);
  border-bottom-right-radius: var(--borderRadius);
  background-color: var(--primary);
  transition: all 0.3s ease-in-out;
  box-shadow: var(--shadow);
}
.menu-btn {
  position: absolute;
  display: flex;
  top: 2rem;
  left: 2rem;
  width: 2rem;
  height: 2rem;
  justify-content: center;
  align-items: center;
  font-size: var(--iconSize);
  color: var(--menu-icon-color);
  transition: opacity 0.3s ease-in-out;
}
.active-btn {
  opacity: 1;
  z-index: 3000;
}
.inactive-btn {
  opacity: 0;
  z-index: 1;
}
.bottomNav-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1rem;
  width: 100%;
  align-items: center;
  padding: 1rem 0.5rem 1rem 0.5rem;
}
.nav-btn {
  display: flex;
  color: var(--iconColor);
  height: 3rem;
  width: 3rem;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0);
  border-radius: var(--borderRadius);
  font-size: var(--navIconSize);
  transition: all 0.1s ease-in-out, border-radius, height, width;
}
.nav-btn .active {
  display: flex;
  color: var(--primary);
  height: 3rem;
  width: 3rem;
  justify-content: center;
  align-items: center;
  background: var(--active-color);
  border-radius: var(--borderRadius);
  font-size: var(--navIconSize);
  transition: all 0.1s ease-in-out, border-radius, height, width;
}
.nav-show {
  left: 0;
  opacity: 1;
}
.nav-hidden {
  left: -10%;
  opacity: 0;
}
