.bottomNav-container {
  position: fixed;
  display: flex;
  width: calc(100svw - 2rem);
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 1rem;
  height: 4rem;
  justify-content: center;
  align-items: center;
  border-radius: var(--borderRadius);
  background-color: #002b3b;
  color: var(--iconColor);
}
.bottomNav-links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 2rem 0 2rem;
  font-size: var(--navIconSize);
}
.nav-button {
  color: var(--iconColor);
}
.sidebar-button-active {
  color: #010106;
}
