.bottomNav-container {
  position: fixed;
  display: flex;
  z-index: 4000;
  width: calc(100svw - 2rem);
  transform: translate(-50%, 0);
  left: 50%;
  height: 4rem;
  justify-content: center;
  align-items: center;
  border-radius: var(--borderRadius);
  background-color: var(--primary);
  transition: all 0.3s ease-in-out;
}
.bottomNav-links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 0 2rem 0 2rem;
}
.nav-button {
  display: flex;
  color: var(--iconColor);
  height: 3rem;
  width: 3rem;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0);
  border-radius: var(--borderRadius);
  font-size: var(--navIconSize);
  transition: all 0.1s ease-in-out, border-radius, height, width;
}
.nav-button .active {
  display: flex;
  color: #1f1a47;
  height: 3rem;
  width: 3rem;
  justify-content: center;
  align-items: center;
  background: var(--white);
  border-radius: var(--borderRadius);
  font-size: var(--navIconSize);
  transition: all 0.1s ease-in-out, border-radius, height, width;
}
.nav-show {
  bottom: 1rem;
  opacity: 2;
}
.nav-hidden {
  bottom: -10rem;
  opacity: 0;
}
