.timeline-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: fit-content;
  max-width: 80rem;
  gap: 2rem;
  z-index: 1;
  h1 {
    display: flex;
  }
  .timeline-content-container {
    overflow-y: auto;
    overflow-x: hidden;
    .timeline-opposite-content {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      height: 100%;
      align-items: center;
      text-align: right;
    }
    .timeline-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 4rem;
      width: 4rem;
      img {
        height: 80%;
        width: auto;
      }
    }
    .content-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 1rem;
      align-items: center;
      height: 100%;
      width: 100%;
      position: relative;
      .timeline-card {
        display: flex;
        position: relative;
        height: fit-content;
        width: 30rem;
        justify-content: center;
        align-items: center;
        border-radius: var(--border-radius);
        transition: all 0.2s ease-in-out;
        .timeline-content {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          height: 100%;
          width: 100%;
          padding: 1rem;
          .timeline-header {
            display: flex;
            width: 100%;
            gap: 1rem;
            flex-direction: column;
            height: fit-content;
            h2,
            h3 {
              line-height: 80%;
            }
            .timeline-chips {
              display: flex;
              gap: 0.5rem;
              flex-wrap: wrap;
              .chip {
                display: flex;
                align-items: center;
                border-radius: var(--border-radius);
                background: linear-gradient(90deg, #363636 0%, #111111 100%);
                padding: 0.2rem 0.6rem;
                p {
                  font-size: 16px;
                }
              }
            }
            .timeline-chips.odd {
              justify-content: flex-end;
            }
          }
          .timeline-body {
            display: flex;
            text-align: left;
          }
        }
      }
    }
  }
}
.MuiTimeline-root {
  display: flex;
  align-items: center;
  justify-content: center;
}
.MuiTimelineSeparator-root {
  margin: 0 2rem;
}
.MuiTimelineOppositeContent-root {
  display: flex;
  min-width: 14rem;
}
