:root {
  // colors
  --primaryOrange: #f3a225;
  --secondaryOrange: #f3a12531;
  --lightOrange: #f3a12517;
  --primaryBlue: #4dbde8;
  --secondaryBlue: #4dbce83a;
  --primaryGrey: #212121;
  --secondaryGrey: #373737;
  --trackColor: #e7e7e7;
  --lightGrey: #a4a4a4;
  --white: #ffffff;
  --black: #000000;
  --bgColor: rgba(255, 255, 255, 0.33);
  --borderCard: #d8d8d8;
  --tertiaryColor: #3f51b583;
  --iconSize: 30px;
  --navIconSize: 20px;
  --iconColor: rgb(255, 255, 255);

  // glass card
  --glassBgColor: rgba(255, 255, 255, 0);

  // other
  --doc-height: 100%;
  --shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  --topBarHeight: 5rem;
  --hoverAnimation: all 175ms ease-in-out;
  --buttonPadding: 0.3rem 0.7rem 0.3rem 0.7rem;
  --borderRadius: 16px;
  --border: 2px solid var(--borderCard);
}
::-webkit-scrollbar {
  height: 8px;
  width: 8px; /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background-color: transparent;
  /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background-color: var(--lightGrey); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}
* {
  box-sizing: border-box;
  outline: none;
}
html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--black);
}
html:focus-within {
  scroll-behavior: smooth;
}
.app {
  display: flex;
  height: 100svh;
  width: 100svw;
  position: relative;
}
.app-container {
  display: flex;
  position: absolute;
  overflow-y: visible;
  height: 100%;
  width: 100%;
  z-index: 1000;
}
.glass {
  color: var(--white);
  border-radius: var(--borderRadius);
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
.no-scroll {
  overflow: hidden;
}
h1 {
  font-weight: 600;
}
h2 {
  font-weight: 500;
}
h3 {
  font-weight: 400;
}
h4 {
  font-weight: 400;
}
button {
  all: unset;
  cursor: pointer;
}
ul {
  all: unset;
}
li {
  all: unset;
}
li a {
  all: unset;
}
a {
  all: unset;
  text-decoration: underline;
  cursor: pointer;
}
input {
  all: unset;
}
