.app {
  display: flex;
  height: 100%;
  width: 100%;
  color: var(--text-color);
  overflow: hidden;
}
.app-container {
  display: flex;
  height: 100%;
  width: 100%;
  background: var(--black);
  overflow: hidden;
}
p {
  font-size: 16px;
}
h1 {
  font-weight: 500;
  font-size: 35px;
}
h2 {
  font-weight: 600;
  font-size: 24px;
}
h3 {
  font-size: 20px;
  font-weight: 400;
}
h4 {
  font-weight: 400;
}
button {
  all: unset;
  cursor: pointer;
}
ul {
  all: unset;
}
li {
  all: unset;
}
li a {
  all: unset;
}
a {
  all: unset;
  text-decoration: underline;
  cursor: pointer;
}
input {
  all: unset;
}
button,
textarea,
input,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.MuiSvgIcon-root {
  font-size: inherit;
  .MuiSvgIcon-fontSizeInherit {
    font-size: inherit;
  }
}
@keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}
@-webkit-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
