:root {
  // color variables
  --white: #ffffff;
  --black: #000000;
  --track-color: #e7e7e7;
  --icon-color: rgb(255, 255, 255);
  --text-color: #ffffff;
  --background-color: #000000;
  --focus-background-color: rgba(0, 0, 0, 0.5);
  --primary: #1f1a47;
  --secondary: #7a1e86;
  --tertiary: #4c1c66;
  --button-color: var(--secondary);
  --menu-icon-color: #ffffff;
  --shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  --company-bg: brightness(0) invert(1);
  --swiper-pagination-color: var(--secondary);
  --swiper-pagination-bullet-inactive-color: var(--white);
  --swiper-pagination-bullet-inactive-opacity: 0.5;
  --linear-gradient: linear-gradient(var(--primary) 10%, var(--text-color) 40%);
  --input-bg: rgba(255, 255, 255, 0.05);
  --color-env: #7a1e86;
  --color-env2: #81208e;
  --color-flap: #4c1c66;
  --color-bg: #bd31d0;
  --headshot-bg: linear-gradient(var(--tertiary), var(--primary));

  // size variables
  --icon-size: 30px;
  --nav-icon-size: 25px;
  --mode-opacity: 0.1;

  // misc variables
  --shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  --topBarHeight: 5rem;
  --hoverAnimation: all 175ms ease-in-out;
  --buttonPadding: 0.3rem 1.2rem 0.3rem 1.2rem;
  --border-radius: 16px;
  --border: 2px solid var(--borderCard);
}

html:focus-within {
  scroll-behavior: smooth;
}

// scrollbar styles
::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--track-color);
  border-radius: 20px;
}
html,
body {
  overflow: visible;
  min-height: 100%;
  width: 100%;
  background-color: var(--background-color) !important;
}
* {
  font-family: "Poppins";
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}
