$env-border-radius: 6px;
$env-width: 280px;
$env-height: 180px;

.envelope-container {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  animation: envelope-move 1s ease-in-out;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}
.envelope {
  position: relative;
  width: $env-width;
  height: $env-height;
  border-bottom-left-radius: $env-border-radius;
  background-color: var(--color-flap);
  box-shadow: var(--shadow);
}
.front-envelope {
  position: absolute;
  width: 0;
  height: 0;
  z-index: 3;
}
.flap {
  border-left: calc($env-width / 2) solid transparent;
  border-right: calc($env-width / 2) solid transparent;
  border-bottom: calc($env-height / 2) - 8 solid transparent; /* a little smaller */
  border-top: calc($env-height / 2) + 8 solid var(--color-flap); /* a little larger */
  transform-origin: top;
  pointer-events: none;
}
.pocket {
  border-left: calc($env-width / 2) solid var(--color-env);
  border-right: calc($env-width / 2) solid var(--color-env);
  border-bottom: calc($env-height / 2) solid var(--color-env2);
  border-top: calc($env-height / 2) solid transparent;
  border-bottom-left-radius: $env-border-radius;
  border-bottom-right-radius: $env-border-radius;
}
.letter {
  position: relative;
  background-color: #fff;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 90%;
  top: 5%;
  border-radius: $env-border-radius;
  box-shadow: 0 2px 26px rgba(0, 0, 0, 0.12);
}
.letter:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 25%,
    rgba(215, 227, 239, 0.7) 55%,
    rgba(215, 227, 239, 1) 100%
  );
}
.words {
  position: absolute;
  left: 10%;
  width: 80%;
  height: 14%;
  background-color: #eeeff0;
}
.words.line1 {
  top: 15%;
  width: 20%;
  height: 7%;
}
.words.line2 {
  top: 30%;
}
.words.line3 {
  top: 50%;
}
.words.line4 {
  top: 70%;
}
.open .flap {
  transform: rotateX(180deg);
  transition: transform 0.4s ease, z-index 0.6s;
  z-index: 1;
}
.close .flap {
  transform: rotateX(0deg);
  transition: transform 0.4s 0.6s ease, z-index 1s;
  z-index: 5;
}
.close .letter {
  transform: translateY(0px);
  transition: transform 0.4s ease, z-index 1s;
  z-index: 1;
}
.open .letter {
  transform: translateY(-($env-height / 3));
  transition: transform 0.4s 0.6s ease, z-index 0.6s;
  z-index: 2;
}
@-webkit-keyframes envelope-move {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-500px);
    opacity: 0;
  }
}
@keyframes envelope-move {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-500px);
    opacity: 0;
  }
}
