.bg-wrap {
  z-index: 1;
  height: 100lvh;
  width: 100lvw;
  overflow: hidden;
  position: fixed;
  background: linear-gradient(-45deg, #f92185 30%, #1f1a47 90%);
  background-size: 400% 400%;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
