.bg-wrap {
  z-index: 1;
  display: flex;
  position: fixed;
  height: calc(100lvh + 50px);
  width: 100%;
  overflow-x: hidden;
  overflow-y: visible;
  background: linear-gradient(45deg, blue, red);
}
